<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.rkroll.auto_scheduler"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="sSiWoPC0K4HzqLziBI6JXDtOgu0AQrj3UYhFfZ3l"/>
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="MD9y8cCJqgkdrIuiZCVFDKrwU7Zmg98TfQcm36Sd"/>

        <activity
            android:name=".home"
            android:label="schedule">
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".add_employee"
            android:label="@string/addEmployee"
            android:parentActivityName=".GeneralManager"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.GeneralManager"/>
        </activity>
        <activity
            android:name=".CompanyInformation"
            android:label="@string/title_activity_company_information"
            android:parentActivityName=".GeneralManager"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.GeneralManager"/>
        </activity>
        <activity
            android:name=".EditStoreHours"
            android:label="@string/title_activity_edit_store_hours"
            android:parentActivityName=".CompanyInformation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.CompanyInformation"/>
        </activity>
        <activity
            android:name=".EditCompanyInformation"
            android:label="@string/title_activity_edit_company_information"
            android:parentActivityName=".CompanyInformation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.CompanyInformation"/>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GeneralManager"
            android:label="@string/title_activity_general_manager"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.HomeScreen"/>
        </activity>
        <activity
            android:name=".Manager"
            android:label="@string/title_activity_manager"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.HomeScreen"/>
        </activity>
        <activity
            android:name=".ViewEmployeeInfo"
            android:label="@string/title_activity_view_employee_info"
            android:parentActivityName=".GeneralManager"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.GeneralManager"/>
        </activity>
        <activity
            android:name=".ViewManagerRequests"
            android:label="@string/title_activity_view_manager_requests"
            android:parentActivityName=".GeneralManager"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.GeneralManager"/>
        </activity>
        <activity
            android:name=".UserOptions"
            android:label="@string/title_activity_user_options"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.HomeScreen"/>
        </activity>
        <activity
            android:name=".EditPersonalInfo"
            android:label="@string/title_activity_edit_personal_info"
            android:parentActivityName=".UserOptions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.UserOptions"/>
        </activity>
        <activity
            android:name=".EditPersonalAvail"
            android:label="@string/title_activity_edit_personal_avail"
            android:parentActivityName=".UserOptions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.UserOptions"/>
        </activity>
        <activity
            android:name=".MakeTimeOffRequest"
            android:label="@string/title_activity_make_time_off_request"
            android:parentActivityName=".UserOptions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkroll.auto_scheduler.UserOptions"/>
        </activity>
    </application>

</manifest>
